.card h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: none;
}



.hero-overlay .hero-title,
.hero-overlay .hero-lead,
.hero-overlay .btn {
  color: #000;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.hero-overlay .hero-lead a {
  color: #000;
  text-decoration-line: underline;
}
.hero-overlay a {
  color: #000;
}



